@media (min-width: 980px) {

	body {
		padding-top: 60px;
	}
}

@media (max-width: 767px) {

	a.brand {
		color: #3a87ad !important;

		&:hover {
			color: #ffffff !important;
		}
	}

	.brand,
	.nav {
		i {
			font-size: 1.25em;
			line-height: 8px;
		}
	}
}

#powerButtons {
	margin-left: -10px;
}

.throbber {
	text-align: center;

	i {
		font-size: 25em;
		-webkit-animation-duration: 3s;
		-webkit-animation-name: pulse;
		-webkit-animation-iteration-count: infinite;

	}
}

@-webkit-keyframes pulse {
	0% {
		color: #333333;
		text-shadow: #000000 0 0 0;
	}

	50% {
		color: #3a87ad;
		text-shadow: #000000 0 0 20px;
	}

	100% {
		color: #333333;
		text-shadow: #000000 0 0 0;
	}
}

#timers {

	.timersRow {
		padding-right: 14px;

		.timersDisplay {
			font-size: 30px;
			line-height: 30px;

			@media (max-width: 767px) {
				font-size: 18px;

				//[class*="span"], .uneditable-input[class*="span"] {
				//	float: left;
				//	margin-left: 2.1374909392265194%;
				//}
				//
				//[class*="span"]:first-child {
				//	 margin-left: 0;
				// }
				//
				//.controls-row [class*="span"] + [class*="span"] {
				//	margin-left: 2.127659574468085%;
				//}
				//
				//.span4 {
				//	width: 31.914893617021278%;
				//	*width: 31.861702127659576%;
				//}
				//
				//.span2 {
				//	width: 14.893617021276595%;
				//	*width: 14.840425531914894%;
				//}
			}
		}

		form {
			margin: 0;

			.timersForm {
				label {
					margin: 0;

					span {
						font-size: 30px;
						margin-right: 10px;
						line-height: 30px;
						vertical-align: middle;
					}
				}

				input[type="time"] {
					font-size: 20px;
					height: 30px;
					padding: 0 6px;
					width: auto;
				}

				.btn:last-child {
					margin-left: 15px;
				}

				.span2,
				.span3:last-child {
					text-align: right;
				}
			}
		}
	}
}