@media (min-width: 980px) {
  body {
    padding-top: 60px; } }
@media (max-width: 767px) {
  a.brand {
    color: #3a87ad !important; }
    a.brand:hover {
      color: white !important; }

  .brand i,
  .nav i {
    font-size: 1.25em;
    line-height: 8px; } }
#powerButtons {
  margin-left: -10px; }

.throbber {
  text-align: center; }
  .throbber i {
    font-size: 15em;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: pulse;
    -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  0% {
    color: #333333;
    text-shadow: black 0 0 0; }

  50% {
    color: #3a87ad;
    text-shadow: black 0 0 20px; }

  100% {
    color: #333333;
    text-shadow: black 0 0 0; } }

@media (max-width: 767px) {
  #timers h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px; } }
#timers .timersRow {
  padding: 12px; }
  #timers .timersRow .timersDisplay {
    font-size: 30px;
    line-height: 30px; }
    @media (max-width: 767px) {
      #timers .timersRow .timersDisplay {
        font-size: 18px; }
        #timers .timersRow .timersDisplay [class*="span"] {
          float: left;
          margin-left: 0; }
        #timers .timersRow .timersDisplay .span4 {
          width: 34%; }
        #timers .timersRow .timersDisplay .span2 {
          width: 16%; } }
  #timers .timersRow form {
    margin: 0; }
    #timers .timersRow form .timersForm label {
      margin: 0; }
      #timers .timersRow form .timersForm label span {
        font-size: 30px;
        margin-right: 10px;
        line-height: 30px;
        vertical-align: middle; }
    #timers .timersRow form .timersForm input[type="time"] {
      font-size: 20px;
      height: 30px;
      padding: 0 6px;
      width: auto; }
      @media (max-width: 767px) {
        #timers .timersRow form .timersForm input[type="time"] {
          font-size: 18px;
          height: 26px; } }
    #timers .timersRow form .timersForm .btn:last-child {
      margin-left: 15px; }
    #timers .timersRow form .timersForm .span2,
    #timers .timersRow form .timersForm .span3:last-child {
      text-align: right; }
    @media (max-width: 767px) {
      #timers .timersRow form .timersForm [class*="span"] {
        float: left;
        margin-left: 0; }
      #timers .timersRow form .timersForm .span4:first-child {
        width: 50%;
        margin-bottom: 10px; }
      #timers .timersRow form .timersForm .span3 {
        width: 50%;
        text-align: right;
        margin-bottom: 10px; }
      #timers .timersRow form .timersForm .span2 {
        width: 40%;
        text-align: left; }
      #timers .timersRow form .timersForm .span3:last-child {
        margin-bottom: 0;
        width: 60%; } }
