<script id="viewAlerts" type="text/x-handlebars-template">
	<div id="alerts" class="container">
		<h1 class="hidden-phone">Alerts</h1>
		<ul>
			{{#triggers}}
				<li>{{trigger_name}}</li>
			{{/triggers}}
		</ul>
	</div>
</script>
