<script id="viewCharts" type="text/x-handlebars-template">
	<div id="charts" class="container">
		<h1 class="hidden-phone">Charts</h1>

		<div class="graph">
			<div id="graphLight" class="chart" style="min-height: 320px;">
				{{view this 'throbber'}}
			</div>
		</div>

		<div class="graph">
			<div id="graphTemp" class="chart" style="min-height: 320px;">
				{{view this 'throbber'}}
			</div>
		</div>

		<div class="graph">
			<div id="graphLiquid" class="chart" style="min-height: 320px;">
				{{view this 'throbber'}}
			</div>
		</div>
	</div>
</script>
