<script id="viewDashboard" type="text/x-handlebars-template">
	<div id="dashboard" class="container">
		<div class="span12">
			<h1>Welcome to the Hyduino</h1>
			<p>Dashboard Soon...</p>
		</div>
	</div>
</script>
